nav {
	& a {
		color: black;

		&[aria-current='true'] {
			color: red;
			font-weight: bold;
		}
	}
}

#content {
	transition: opacity 0.5s;

	&.htmx-swapping {
		opacity: 0;
	}
}

#oob {
	transition: opacity 0.5s;

	:root:has(#content.htmx-swapping) & {
		opacity: 0;
	}
}
